#title{
    display: block;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}
#main{
    background-color: aqua;
    width:  60vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
#body{
    width: 80%;
    height: 200px;
    margin: auto;
}
#tail input{
    width: 30%;
    margin-bottom: 50px;
    margin-top: 50px;
}